DATABASE_NAME={{ project_name }}
DATABASE_USER={{ project_name }}
DATABASE_PASSWORD=development
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_FORWARD_PORT=3306
WEB_PORT=8000
MYSQL_ROOT_PASSWORD=development-root
